<!DOCTYPE html>
<html>
<head>
  <title>MCLA - Java Tutorial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.gogle.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico'%>
  <%= csrf_meta_tags %>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>
<body>
  <!--<div class="container"> -->
  <div id="sidebar">
    <ul>
      <li><%= link_to "01 - Programming", chapter1_path %></li>
      <li><%= link_to "02 - Variables", chapter2_path %></li>
      <li><%= link_to "03 - If Statements", chapter3_path %></li>
      <li><%= link_to "04 - Programming Practices", chapter4_path %></li>
      <li><%= link_to "05 - While Loops", chapter5_path %></li>
      <li><%= link_to "06 - For Loops", chapter6_path %></li>
      <li><%= link_to "chapter7", chapter7_path %></li>
      <li><%= link_to "chapter8", chapter8_path %></li>
      <li><%= link_to "chapter9", chapter9_path %></li>
      <li><%= link_to "chapter10", chapter10_path %></li>
      <li><%= link_to "chapter11", chapter11_path %></li>
      <li><%= link_to "chapter12", chapter12_path %></li>
      <li><%= link_to "chapter13", chapter13_path %></li>
      <li><%= link_to "chapter14", chapter14_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Posts", root_path %></li>
    
    <% if !user_signed_in? %>
      <li><%= link_to "User Login", new_user_session_path %></li>
    <% end %>
    </ul>
      
  </div>
 
  
 <div id="main_content"> 
    <div id="header">
      <% if current_page?(root_path) %>
        <p>Post Feed</p>
      <% elsif current_page?(about_path) %>
        <p>my Site</p>
      <% else %>
        <%= link_to "Back to Post Feed", root_path %>
      <% end %>
      <% if user_signed_in? %>
        <div class="button">
          <button class="button"><%= link_to "Make Post", new_post_path %></button>
          <button class="button"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></buton>
        </div>
      <% end %>
      
    </div>

  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert") %>
  <% end %>

  <%= yield %>
  </div>
  <!--</div><!-- container -->

</body>
</html>
