<!DOCTYPE html>
<html>
<head>
  <title>MCLA - Java Tutorial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.gogle.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico'%>
  <%= csrf_meta_tags %>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>
<body>
<!-- ========================== Sidebar ======================== --> 
  <div id="sidebar">
    <ul>
      <li><%= link_to "01 - Programming", chapter1_path %></li>
      <li><%= link_to "02 - Variables", chapter2_path %></li>
      <li><%= link_to "03 - If Statements", chapter3_path %></li>
      <li><%= link_to "04 - Programming Practices", chapter4_path %></li>
      <li><%= link_to "05 - While Loops", chapter5_path %></li>
      <li><%= link_to "06 - For Loops", chapter6_path %></li>
      <li><%= link_to "07 - Arrays", chapter7_path %></li>
      <li><%= link_to "08 - Classes Objects and Methods", chapter8_path %></li>
      <li><%= link_to "09 - Strings", chapter9_path %></li>
      <li><%= link_to "10 - Text Files", chapter10_path %></li>
      <li><%= link_to "11 - Defining Methods", chapter11_path %></li>
      <li><%= link_to "12 - Programming with Methods", chapter12_path %></li>
      <li><%= link_to "13 - Defining Classes", chapter13_path %></li>
      <li><%= link_to "14 - Prorgamming with Classes", chapter14_path %></li>

    </ul>
      
  </div><!-- sidebar -->
<!-- ====================== End Sidebar ======================== -->  

<!-- ======================= main content ====================== -->
 <div id="main_content"> 
 </br>

<!-- ===================I not sure what is this for ============ -->
  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert") %>
  <% end %> 
<!--=================End I not sure what is this ================-->

  <%= yield %>
  </div>
<!-- ==================== End main content ====================== --> 
<!-- ========================= Menu Bar ========================= --> 
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Massachusets College Of Liberal Arts (MCLA)</a>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav"> 
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Posts", root_path %></li>    
        
        <% if user_signed_in? %>
            <li><%= link_to "Make Post", new_post_path %></li>
        <% end %>
      </ul> 
      
      <ul class="nav navbar-nav navbar-right">
        <% if !user_signed_in? %>
          <li><%= link_to "User Login", new_user_session_path %></li>
        <% end %>
  
        <% if user_signed_in? %>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div> <!--end collapse navbar-collapse -->
  </div><!-- end container-fluid -->
</nav>
<!-- ======================End Menu Bar ========================= --> 

</body>
</html>
